<div>
    <h2>Login</h2>
    <form (ngSubmit)="login()" #loginForm="ngForm">
        <div>
            <label for="email">Email </label>
            <input type="email" id="email" name="email" [(ngModel)]="loginFormModel.email" required>
            <p *ngIf="!userValid">Incorrect username</p>
        </div>
        <div>
            <label for="password">Password </label>
            <input type="password" id="password" name="password" [(ngModel)]="loginFormModel.password" required>
        </div>
        <button type="submit">Login</button>
        <br>
        <p *ngIf="!loginSuccessfull">Incorrect username or password</p>
    </form>
    <p>Register Here: <a routerLink="/register">Register</a></p>
</div>
